
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 44% 97%;
    --foreground: 231 48% 10%;
    --card: 0 0% 100%;
    --card-foreground: 231 48% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 48% 10%;
    --primary: 142 76% 36%; /* Agri Green */
    --primary-foreground: 0 0% 100%;
    --secondary: 231 10% 90%;
    --secondary-foreground: 231 48% 20%;
    --muted: 231 10% 85%;
    --muted-foreground: 231 10% 40%;
    --accent: 25 95% 53%; /* Agri Orange */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 15% 90%;
    --input: 231 15% 90%;
    --ring: 142 76% 36%;
    --radius: 1.25rem;
  }
}

@layer base {
  * { @apply border-border; }
  body { @apply bg-background text-foreground font-body antialiased; }
  h1, h2, h3, h4, h5, h6 { @apply font-headline tracking-tight font-bold; }
}
